<!doctype html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        <title> Backbone tutorial beginner</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class = "container">
            <h1> User Manager</h1>
            <hr/>
            <div class = "page"></div>
        </div>
        <script type ="text/template" id ="user-list-template">

            <a href ="#/new" class = "btn btn-primary">New User</a>
            <hr/>
            <table class = "table table-striped">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% _.each(users, function(user){ %>
                        <tr>
                            <td><%= user.get("firstname")%> </td>
                            <td><%= user.get("lastname")%> </td>
                            <td><%= user.get("age")%> </td>
                            <td><a href ="#/edit/<%= user.id %>" class ="btn btn-danger"> Edit </a> </td>
                        </tr>
                    <% }); %>

                </tbody>
            </table>
        </script>

        <script type ="text/template" id = "Edit-user-template">
            <form class="form-horizontal edit-user-form">

                <legend><%= user? 'Update ': 'Create ' %>User</legend>
                <div class="control-group">
                    <label class="control-label">First Name</label>
                    <div class="controls">
                        <input type = "text" name ='firstname' value="<%=user? user.get('firstname'): '' %>">
                    </div>
                <div class="control-group">
                    <label class="control-label">Last Name</label>
                    <div class="controls">
                        <input type = "text" name ='lastname' value="<%=user? user.get('lastname'): '' %>">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Age</label>
                    <div class="controls">
                        <input type = "text" name ='age' value="<%=user? user.get('age'): '' %>">
                    </div>
                <hr/>

                <button type ="submit" class ="btn"> <%= user? 'Update ': 'Create ' %> </button>

                <% if (user) { %>
                    <input type ="hidden" name ="id" value="<%= user.id %>" />
                    <button class ="btn btn-danger delete" type ="button">Delete</button>
                <% } %>
            </form>
        </script>


    <script src ="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"> </script>
    <script src ="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src ="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>

<!--Add your backbone code in the below script -->


    <script>
        // Create an ajax pre filter to send all server calls to a remote server rather than this domain

        $.ajaxPrefilter( function( options, originalOptions, jqXHR ) {
            options.url = 'http://backbonejs-beginner.herokuapp.com' + options.url;
        // We don't need to do this if we are serving the REST API from same domain.
        });

        // jquery form serialzation code. To convert the data from form to serialized json object

        $.fn.serializeObject = function() {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function() {
                if (o[this.name] !== undefined) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };

        // Backbone collection to get all the users from server

        var Users = Backbone.Collection.extend({
            url:'/users'
        })

        // Backbone model for user

        var User = Backbone.Model.extend({
            urlRoot:'/users'      // Specify a urlRoot if you're using a model outside of a collection, to enable the
                                  // default url function to generate URLs based on the model id. "[urlRoot]/id"
        })

        // Create the backbone view for user list

        var UserList = Backbone.View.extend({
            el:".page",      // View is attached to the DOM class page.

            render: function(){
              var users = new Users();
              var that = this;
              users.fetch({
                    success:function(users){
                        var template = _.template($('#user-list-template').html(), {users: users.models})
                        that.$el.html(template)
                    }
              })
            },
        })
        var EditUser = Backbone.View.extend({
            el:".page",
            render: function(options){    // id passed from edit will be contained in options object
                that = this;
                if(options.id){
                    // If Id is present, we need to get the date from sever and populate the vallues
                    that.user = new User({id:options.id});
                    that.user.fetch({
                        success: function(user){
                            var template = _.template($('#Edit-user-template').html(), {user:user});
                            that.$el.html(template)
                        }
                    })
                }
                else { // if no id, presnt the blank form
                    var template = _.template($('#Edit-user-template').html(), {user:null});
                    this.$el.html(template)
                }
            },
            events: {
                'submit .edit-user-form':'saveUser',
                'click .delete': 'deleteUser'
            },
            saveUser: function(ev){
                // We can get the form using the jquery current target
                var userDetails = $(ev.currentTarget).serializeObject(); // We used the jquery serializer to convert
                                                                        // form data
                var user = new User();
                user.save(userDetails,{
                    success: function(user){
                        router.navigate('', {trigger:true}); // After the new user is created,we want to send back to
                                                             // the home page.
                    }
                });
                //console.log(userDetails);
                return false; // we are asking the browser to disable native behavior of refreshing the page when form is
                             // submitted
            },
            deleteUser:function(ev){
                that.user.destroy({
                    success:function(){
                        router.navigate('', {trigger:true});
                    }
                });
                return false;
            }
        });

        // Create the backbone router

        var Router = Backbone.Router.extend({
            routes:{
                '':'home',   // empty string represents home /
                'new':'editUser',
                'edit/:id':'editUser'
            }
        })

        var userList = new UserList();
        var editUser = new EditUser();
        var router = new Router();
        router.on('route:home', function(){
            userList.render();
        })

        router.on('route:editUser', function(id){
            editUser.render({id:id}); // If we get an id ( for edit ), pass that to render
        })

        Backbone.history.start();
    </script>
    </body>
</html>